#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-image:url('../images/background.gif');
  background-attachment: fixed;
  height:100vh;
  background-color: black;
  background-position: center 30%;
}